<article class="preview">
    <header>
        {% if page.title %}
			<h1><a class="link-to-post" href="{{ site.baseurl }}{{ page.url }}">{{ page.title 				}}</a></h1>
		{% endif %}
        {% include post_meta.html %}
    </header>
    <p>{{ page.content | truncatewords: site.truncate_size | remove: '<p>' | remove: '</p>' }}
    <a class="link-to-post"
       href="{{ site.baseurl }}{{ page.url }}">&raquo;</a>
    </p>
</article>

<!--
<article class="preview">
    <header>
        {% if page.title %}
        <h2><a class="link-to-post" href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
        {% endif %}
        {% include post_meta.html %}
    </header>
    <p>{{ page.description }}</p>
</article>
-->