<header>

	<a href="{{ site.baseurl }}/index.html"> 
			<h2>{{ site.title }} </h2>
			{{ site.subtitle }} 
		<!-- <img src="{{ site.baseurl }}/resources/images/foto.jpg" alt="photo"> -->
	</a>
    <nav id="main-nav">
        <ul>
	        <li><a class="fancy-nav" href="{{ site.baseurl }}/index.html">home</a></li>
            {% for link in site.categories %}
            <li><a class="fancy-nav" href="{{ site.baseurl }}/categories/{{ link | first | downcase }}">{{ link | first
                }}</a></li>
            {% endfor %}
            <li><a class="fancy-nav" href="{{ site.baseurl }}/pages/about.html">about</a></li>
        </ul>
    </nav>

</header>